<!DOCTYPE html>
<html>
    <head>
        <title>Mercado Liebre</title>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initicial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/f793282f43.js" crossorigin="anonymous"></script>
    </head>
<body>
    <body>
        <header>
        <div class="contenedor-header">
            <img  src="img/logo-mercado-liebre.svg">
            <div><input type="text" id='barra-busqueda'></div>
            <h2> <i class="fas fa-hand-holding-usd"></i> Compré en cuotas y sin tarjeta </h2>
        </div>
            <a href='#'class='hamburguesa-boton'>
                <i class="fas fa-bars"></i></a>
        <nav class='listas'>
                <ul>
                <li><a href='#'>Ofertas</a></li> 
                <li><a href='#'>Tiendas Oficiales</a></li>
                <li><a href='#'>Vender</a></li>
                <li><a href='#'>Ayuda</a></li>      
            </ul>
            <ul >
                <li><a href='http://localhost:8000/register'>Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href='http://localhost:8000/login'>Ingresá<i class="fas fa-sign-in-alt"></i> </a></li>
                <li><a href='#'>Mis compras<i class="fas fa-shopping-basket"></i> </a></li>
            </ul>
        </nav>
        </header>
        <img class='banner' src='img/img-home-banner.jpg'>
        <main class='secciones'>
            <ul> 
             <li id='titulares'>Basado en tu última visita</li>
             <section>
                <article><img id='imagenes' src='img/img-cafetera-moulinex.jpg'>
                <div id='elemento-article'><div id='precios'>$6700</div>
                <div id='descuentos'>40% OFF</div></div>
            </article>
                <article>
                    <img id='imagenes'src='img/img-macbook-pro-2019.jpg'>
                <div id='elemento-article'><div id='precios'>$230000</div>
                    <div id='descuentos'>20% OFF</div></div>
            </article>
                <article>
                    <img id='imagenes'src='img/img-samsung-galaxy-s10.jpg'>
                <div id='elemento-article'> <div id='precios'>$70500</div>
                    <div id='descuentos'>10% OFF</div></div>
            </article>
                <article>
                    <img id='imagenes'src='img/img-tv-samsung-smart.jpg'>
                    <div id='elemento-article'> <div id='precios'>$23200</div>
                    <div id='descuentos'>5% OFF</div></div>
            </article>
            </section>
             <li id='titulares'>Ofertas</li>
            <section>
             <article>
                <img id='imagenes'src='img/img-cafetera-moulinex.jpg'>
                <div id='elemento-article'><div id='precios'>$6700</div>
                <div id='descuentos'>40% OFF</div></div>
            </article>
            <article>
                <img id='imagenes'src='img/img-macbook-pro-2019.jpg'>
                <div id='elemento-article'><div id='precios'>$230000</div>
                <div id='descuentos'>20% OFF</div></div>
            </article>
            <article>
                <img id='imagenes'src='img/img-samsung-galaxy-s10.jpg'>
                <div id='elemento-article'><div id='precios'>$70500</div>
                <div id='descuentos'>10% OFF</div></div>
            </article>
            <article>
                <img id='imagenes'src='img/img-tv-samsung-smart.jpg'>
                <div id='elemento-article'><div id='precios'>$23200</div>
                <div id='descuentos'>5% OFF</div></div>
                </article>
            </section>
    
            </ul>

        </main>
        <footer>
            <ul>
               <div class='footer-listas'> <i id= 'iconosazules' class="fas fa-credit-card"></i><li>Pagá con tarjeta o en efectivo</li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p></div>
                    <div class='footer-listas'><i id= 'iconosazules'class="fas fa-gift"></i><li>Envío gratis desde $ 2.500</li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p></div>
                    <div class='footer-listas'><i id= 'iconosazules' class="fas fa-user-shield"></i><li>Seguridad, de principio a fin</li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p></div>
                    <li class='copy'>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>

            </ul>
        
        </footer>
    </body>

</body>

</html>