<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initicial-scale=1.0">
        <link href="/css/stylelogin.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/f793282f43.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="contenedor-header">
                <img  src="img/logo-mercado-liebre.svg">
               
                <h2> <i class="fas fa-hand-holding-usd"></i> Compré en cuotas y sin tarjeta </h2>
            </div>
                <a href='#'class='hamburguesa-boton'>
                    <i class="fas fa-bars"></i></a>
            <nav class='listas'>
                    <ul id="saludo">
                    <li><a href='#'>Ofertas</a></li> 
                    <li><a href='#'>Tiendas Oficiales</a></li>
                    <li><a href='#'>Vender</a></li>
                    <li><a href='#'>Ayuda</a></li>      
                </ul>
                <ul class= 'noticia'>
                    <li><a href='#'>Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href='#'>Ingresá<i class="fas fa-sign-in-alt"></i> </a></li>
                    <li><a href='#'>Mis compras<i class="fas fa-shopping-basket"></i> </a></li>
                </ul>
            </nav>
            </header>
            <main>
                <div class="bloques">
                    <label for='nombre' id='nombre'>Nombre:</label>
                    <input type='text' name='name' id='password' placeholder='Nombre'>
                </div>
                <div class="bloques">
                    <label for='email' id='nombre'>Email:</label>
                    <input type='email' name='email' id='password' placeholder='Email'>
                </div>
                <div class="bloques">
                    <label for='contraseña' id='nombre'>Contresaña:</label>
                    <input type='password' name='password' id='password' placeholder='Contraseña'>
                </div>
                <button class= 'botones' type='submit'>INGRESAR</button>
            </main>
            <footer>
                <ul>
                   <div class='footer-listas'> <i id= 'iconosazules' class="fas fa-credit-card"></i><li>Pagá con tarjeta o en efectivo</li>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p></div>
                        <div class='footer-listas'><i id= 'iconosazules'class="fas fa-gift"></i><li>Envío gratis desde $ 2.500</li>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p></div>
                        <div class='footer-listas'><i id= 'iconosazules' class="fas fa-user-shield"></i><li>Seguridad, de principio a fin</li>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p></div>
                        <li class='copy'>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
    
                </ul>
            
            </footer>
    </body>